/* *{

    font-family: 'Jim Nightshade', cursive;
} */
header h1{
    font-size: 8em;
    color: rgb(65, 66, 44);
    text-shadow: 2px 2px 3px whitesmoke;
    margin-bottom: -10px;
}
header h2{
    font-size: 35px;
    margin-top: -20px;
    color: rgb(65, 66, 44);
}
/* a{
    text-decoration: none;
    font-size: 2em;
    margin-top: -80px;
} */
a:hover{
    text-decoration: underline;
    color: rgba(71, 77, 46, 0.5);
}
#avatars {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    filter: drop-shadow(3px 3px 3px rgba(34, 34, 34, 0.666));
    
   
}
#avatars img {
    height: 70px;
    width: 70px;
    user-select: none;
}

#avatars label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 10px;
}

#avatars input, #avatars img {
    /* margin: 5px; */
    padding: 5px;
}

input[type=radio]:checked ~ img{
    filter: drop-shadow(4px 4px 4px rgba(20, 20, 20, 0.836));
    transform: scale(1.2);
    transition: .2s;
}

[type=radio]{
    opacity: 0;
    height: 0px;
    width: 0px;
}
#avatar:hover{
    cursor: pointer;
    filter: drop-shadow(4px 4px 4px rgba(20, 20, 20, 0.836));
}
legend{
    color: rgb(65, 66, 44);
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 2px 3px whitesmoke;
    font-weight: bold;
}
#userInputName{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 3px whitesmoke;
    color: rgb(65, 66, 44);
    font-weight: bold;

}
#log-in-user{
    /* background-color: rgb(185, 167, 133, 0.5); */
    background-image: url("./assets/log-in.png");
   
    box-sizing: content-box;
    border: 4px outset rgba(222, 184, 135, 0.7);
    box-shadow: 0 0 10px 5px rgba(100, 100, 80, 0.325);
    padding: 6px;
    min-width: 340px;
    margin: 30px auto;
    width: 40%; 
}

@media (max-width: 500px) {
    #log-in-user {
        width: 70%;
    }
    header h1 {
        font-size: 6em;
    }
}

#name{
    background-color: #ebd39a;
    width: 100%;
    max-width: 250px;
    text-align: center;
}

fieldset {
    width: 330px;
    margin: 0 auto;
}


#playButton{
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 2rem;
    color: #eddcb5;
    margin: 0 auto;
    background-color: rgb(71, 77, 46);
    border-radius: 6px;
    padding: 8px 32px;
    font-family: 'Jim Nightshade', cursive;
    font-weight: bold;


}
#playButton:hover{
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}
#playButton:active, #avatar:active{
    transform: translateY(3px);
}
fieldset{
    border: none;
}