body {
    text-align: center;
    color: rgba(71, 77, 46, 1.0)
}

header {
    margin-bottom: 3rem;
}

table { 
    margin: 0 auto;
    empty-cells: hide;
}

table .left { 
    text-align: left;
}


thead {
    background-color: rgba(71, 77, 46, 0.5);
    color: #eddcb5;
    font-weight: bold;
}

tr, td {
    padding: 9px;
}

tr {
    background-color: rgba(71, 77, 46, 0.05);
    border-bottom: 1px solid rgba(71, 77, 46, 0.2);
    ;
}

#results-message {
    margin-bottom: 3rem;
}

#score-and-map-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

#score-container {
    margin-right: 3rem;
}

#grid {
    width: 500px;
    height: 335px; /* width * .67 for a 12x8 grid */
}

#grid div {
    height: 42px; /* grid height / 8 rows */
}

#grid div:hover {
    box-shadow: none;
    cursor: inherit;
}
