/* header {
    margin-bottom: 3rem;
} */

#results-message {
    /* margin-bottom: 3rem; */
    text-align: center;
}

#grid div:hover {
    box-shadow: none;
    cursor: inherit;
}

#username-span {
    font-size: 1.5em;
}

#avatar {
    height: 30px;
    width: 30px;
    -webkit-filter: drop-shadow(2px 2px 5px #222);
    filter: drop-shadow(2px 2px 5px #222);
    margin-right: 15px;
    /* box-shadow: 2px 2px 2px black; */
}

#meepleUser {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color:rgb(88, 90, 61); 
}

#score-and-map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#score-container {
    margin-right: 30px;
}

table { 
    margin: 0 auto;
    empty-cells: hide;
}

table .left { 
    text-align: left;
    border-right: 1px solid rgba(71, 77, 46, 0.2);
}


thead {
    background-color: rgba(71, 77, 46, 0.5);
    color: #eddcb5;
    font-weight: bold;
}

tr, td {
    padding: 9px;
}

td { 
    text-align: center;
}

tr {
    background-color: rgba(71, 77, 46, 0.05);
    border-bottom: 1px solid rgba(71, 77, 46, 0.2);
}