header {
    margin-bottom: 3rem;
}

#results-message {
    margin-bottom: 3rem;
    text-align: center;
}

#grid div:hover {
    box-shadow: none;
    cursor: inherit;
}

#username-span {
    font-size: 1.5em;
}

#avatar {
    height: 50px;
    width: 50px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    margin-right: 15px;
    /* box-shadow: 2px 2px 2px black; */
}

#meepleUser {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color:rgb(88, 90, 61); 
}

/* Saving this for if we use the table to render score results

/* table { 
    margin: 0 auto;
    empty-cells: hide;
}

table .left { 
    text-align: left;
}


thead {
    background-color: rgba(71, 77, 46, 0.5);
    color: #eddcb5;
    font-weight: bold;
}

tr, td {
    padding: 9px;
}

tr {
    background-color: rgba(71, 77, 46, 0.05);
    border-bottom: 1px solid rgba(71, 77, 46, 0.2);
    ;
} */