#grid div {
    height: 50px;
    width: 100%;
    display: inline-block;

    margin: 0; 
    background-size: cover;

    border: 1px outset rgba(222, 184, 135, 0.5);
    transition: 0.4s;
}

#grid div:hover {
    cursor: pointer;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#grid div:active {
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    transition: 0.1s;
    z-index: 2;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#grid {
    width: 600px;
    height: 400px;
    margin: 30px auto;
    z-index: -1;
    /* background-color: rgb(185, 167, 133, 0.5); */
    box-sizing: content-box;
    border: 4px outset rgba(222, 184, 135, 0.7);
    box-shadow: 0 0 10px 5px rgba(100, 100, 80, 0.325);
    padding: 6px;
}

#grid-background {
    width: 600px;
    height: 400px;
    z-index: -2;
    position: absolute;
    size: cover;
}

#player-tile {
    margin: 30px auto;
    height: 75px;
    width: 75px;
    border: 3px outset rgba(122, 93, 55, 0.5);
}

#grid .placed-tile, #grid .placed-tile:hover {
    box-shadow: inset 0 0 3px 1px rgba(248, 235, 112, 0.863);
}

#rotate-left, #rotate-right {
    font-size: 30px;
    /* font-weight: bold; */
    cursor: pointer;
    user-select: none;
    z-index: 2;
    position: relative;
    top:20px;
    transition: .2s;
}

#rotate-left:hover, #rotate-right:hover {
    /* filter: drop-shadow(3px 3px 3px rgba(34, 34, 34, 0.666)) */
    text-shadow: 1px 1px 3px rgb(66, 66, 66);
    transform: scale(1.05);
    
}

#rotate-left {
    margin-right: -15px;
    /* font-weight: bold; */
}

#rotate-right {
    margin-left: -15px;
    /* font-weight: bold; */
}

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: wheat;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    font-size: 20px;
  }
  
  /* The Close Button */
  #close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close:hover,
  #close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
.is-blurred {
      filter: blur(2px);
      -webkit-filter: blur(2px);
}

#title{
    font-size: 6em;
}
#user-profile {
    margin-right: 5px;
    margin-top: 10px;
    position: relative;
    right: -15px;
    top: 0px;
    font-size: 25px;

} 
#connections-container {
    margin-left: 30px;
}
#button-container{
    display: flex;
    justify-content: center;
}
#userName{
    margin-bottom: -20px;
    margin-left: 10px;
    position: relative;
    top: 4px;
}
#meepChoice{
    height: 40px;
    width: 40px;
}
    
#quit-button, #instructionsButton, #reset-button {
    /* font-family: 'Jim Nightshade', cursive;
    background-color: rgb(71, 77, 46);
    border: none;
    color: #eddcb5;
    padding: 0 10px 0 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    /* text-transform: uppercase; */
    /* /* font-weight: bold; */
    margin: 10px 10px;
    width: 160px;
    /* border-radius: 6px;
    box-shadow: rgba(0,0,0,0.3) 2px 2px 3px; */
}

#instructionsButton:hover, #quit-button:hover, #reset-button:hover {
    /* background-color: rgba(71, 77, 46, .9); */
    /* color: #eddcb5;
    transform: scale(1.05);
    transition: scale ease-in-out 0.3s;
    box-shadow: rgba(0,0,0,0.3) 4px 4px 5px; */
}
#tile-stack, #legend {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    position: relative;
    
}
#deck-tile{
    background-image: url("../tiles/Null3.png");
}

.tile-wrapper {
    text-align: center;
    display: block;
}

#deck-tile, #player-tile, #legend div{
    display: inline-block;
    margin: 0 30px;
    height: 75px;
    width: 75px;
    border: 3px outset rgba(122, 93, 55, 0.5);
    user-select: none;
}

#game-over {
    background-color: rgba(222, 184, 135, 0.767);
    color: rgb(71, 77, 46);
    width: 300px;
    border-radius: 6px;
    text-align: center;
    position: absolute;
    padding: 15px;
    top: 50%;
    margin-top: 60px;
    left: 50%;
    margin-left: -150px;
    z-index: 5;
    display: none;
}

.shake0{
    animation: shake0 0.4s;
  }
@keyframes shake0 {
    0% { transform: rotate(0deg); }
    17% { transform: rotate(-5deg); }
    33% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    67% { transform: rotate(5deg); }
    83% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
  .shake90{
    animation: shake90 0.4s;
  }
@keyframes shake90 {
    0% { transform: rotate(90deg); }
    17% { transform: rotate(85deg); }
    33% { transform: rotate(95deg); }
    50% { transform: rotate(90deg); }
    67% { transform: rotate(95deg); }
    83% { transform: rotate(85deg); }
    100% { transform: rotate(90deg); }
  }
  .shake180{
    animation: shake180 0.4s;
  }
@keyframes shake180 {
    0% { transform: rotate(180deg); }
    17% { transform: rotate(175deg); }
    33% { transform: rotate(185deg); }
    50% { transform: rotate(180deg); }
    67% { transform: rotate(185deg); }
    83% { transform: rotate(175deg); }
    100% { transform: rotate(180deg); }
  }
  .shake270{
    animation: shake270 0.4s;
  }
@keyframes shake270 {
    0% { transform: rotate(270deg); }
    17% { transform: rotate(265deg); }
    33% { transform: rotate(275deg); }
    50% { transform: rotate(270deg); }
    67% { transform: rotate(275deg); }
    83% { transform: rotate(265deg); }
    100% { transform: rotate(270deg); }
  }
  
.instructions-text {
    font-weight: bolder;
}

#unbulleted-list-item {
    list-style: none;
}